---
import Layout from "../../layouts/Layout.astro";
import { medals, slugify } from "../../lib/data";
import { href } from "../../lib/url";
import { rarityLabel } from "../../lib/medalConditions";

export function getStaticPaths() {
  return medals.map((m) => ({ params: { medalId: slugify(m.id) }, props: { m } }));
}

const { m } = Astro.props;
---

<Layout title={m.name}>
  <p class="meta-note"><a href={href("/medaillen/")}>← Alle Medaillen</a></p>
  <h1>{m.name}</h1>
  {m.icon && <img class="species-sprite medal-sprite" src={href(`/medals/${m.icon}`)} alt="" width="128" height="128" />}
  <p>{m.description || "–"}</p>

  <table>
    <tr><th>Tipp</th><td>{m.tip || "–"}</td></tr>
    <tr><th>Seltenheit</th><td>{rarityLabel(m.rarity) ?? "Normal"}</td></tr>
  </table>
</Layout>

<style>
  .medal-sprite {
    margin-left: auto;
    margin-right: auto;
  }
</style>
